<!DOCTYPE html>
<html>
  <head>
    <title>RubyGram</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.1/dist/flowbite.min.css" />

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
  </head>
  <style>
  	.container {
	max-width: 935px;
}
    .right .first{
    /* comment out for tailwindcomponents.com
      left: 1126px;
      */
    }
  </style>

  <body>


    <% if current_user %>
      <%= render 'layouts/navbar' %>
    <% end %>
    <%= yield%>

    <div class="page-content pt-6 h-full">
		  <div class="container mx-auto flex h-full">
			  <div class="left w-8/12 p-4">
          <%# <%= render 'story/story_list' %>
        </div>
      </div>
    </div>
    <%# <%= render 'suggestions/suggestion_list' %> 
    <main class="container mx-auto mt-2 px-5 flex">

    </main>
    <script src="https://unpkg.com/flowbite@1.5.1/dist/flowbite.js"></script>
  </body>
</html>
